/*============================
	CSS for visual editor
	---------------------
============================*/
#WYSIWYG img.center {
    margin: 0 auto
}

#WYSIWYG .boxed {
    width: 100%;
    max-width: 850px;
    margin: 50px auto;
    font-size: 1em;
    line-height: 22px;
}
#WYSIWYG ul.dash {
    list-style: none;
    margin: 20px 0;
    padding: 0 0 0 20px;
}
#WYSIWYG ul.dash li {
    margin: 0;
}
#WYSIWYG ul.dash li:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    width: 7px;
    height: 1px;
    background-color: #344e5a;
    border-radius: 0;
}
#WYSIWYG ol.list {
    margin: 20px 0;
    padding: 0 0 0 20px;
    list-style: decimal;
    counter-reset: none;
}
#WYSIWYG ol.list li {
    position: relative;
    display: list-item;
    font-size: inherit;
    margin-bottom: 0;
}
#WYSIWYG ol.list > li::before {
    position: static;
    display: none;
}