div.subscribe-edit .red {
	color:red;
}
div.subscribe-edit .green {
	color:green;
}
div.subscribe-edit .errorcolor {
	color:red;
}
div.subscribe-edit .successcolor {
	color:green;
}

.triggers a.eula {
	text-decoration: none;
	line-height: inherit;
	font-size: inherit;
	font-weight: inherit;
}