/*!
 * jQuery Accordion 0.0.1
 * (c) 2014 Victor Fernandez <victor@vctrfrnndz.com>
 * MIT Licensed.
 */

/* Requirements */

[data-accordion] [data-content] {
    overflow: hidden;
    max-height: 0;
}

/* Basic Theme */

[data-accordion] {
    line-height: 1;
}

[data-control],
[data-content] > * {
    padding: 10px;
}

[data-content] [data-accordion] {
    border: 0;
    padding: 0;
}

[data-accordion] [data-control] {
    position: relative;
    padding-left: 40px;
}

[data-accordion] > [data-control]:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 25px;
    height: 40px;
    width: 25px;
    background: url(../images/etc/arrow.png) center center no-repeat;
    transform: rotate(-90deg);
    transition: transform .3s ease-in-out;
}

[data-accordion].open > [data-control]:before {
    transform: rotate(0);
    transition: transform .3s ease-in-out;
}