.jq-selectbox {
	width: 100%;
	max-width: 328px;
	vertical-align: middle;
	cursor: pointer;
}
.jq-selectbox__select {
	height: 30px;
	padding: 0 10px;
	border: 3px solid #344e5a;
	color: #334e5a;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 26px;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 100%;
	background: #344e5a;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 10px;
	right: 9px;
	width: 0;
	height: 0;
	overflow: hidden;
	border-top: 5px solid #fff;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}
.jq-selectbox__dropdown {
	top: 32px;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #FFF;
	font-weight: 100;
}
.jq-selectbox__dropdown ul {
	width: 100%;
	border: 3px solid #344e5a;
}
.jq-selectbox__dropdown ul li {
	padding: 5px 20px 5px 10px;
	color: #334e5a;
}
.jq-selectbox__dropdown ul li:hover {
	color: #fff;
	background: #344e5a;
}