/*====================================
	CSS Grid v.1
	-------------------
	Developed by Maiorov Maksim
	m.maiorov@gmail.com
	2014 | Kaliningrad, Russia

=====================================*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearFix::before,
.clearFix::after {
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.container {
	position: relative;
	width: 100%
}
.line {
	margin: 0 auto;
}
.line::before,
.line::after {
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.substrateSmall {
	width: 100%;
	height: 20px;
}
.substrateMedium {
	width: 100%;
	height: 40px;
}
.substrateHuge {
	width: 100%;
	height: 60px;
}
.fullWidth {
	width: 100%;

	-webkit-transition: height 0.3s linear,  width .3s linear;
	-moz-transition: height 0.3s linear,  width .3s linear;
	-ms-transition: height 0.3s linear,  width .3s linear;
	-o-transition: height 0.3s linear,  width .3s linear;
	transition: height 0.3s linear,  width .3s linear;
}
.half {
	width: 50%;
}
.oneThird {
	width: 33.33%;
}
.twoThird {
	width: 66.66%;
}
.oneFourth {
	width: 25%;
}
.oneFifth {
	width: 20%;
}
.oneSixth {
	width: 16.66%;
}

.half,
.oneThird,
.twoThird,
.oneFourth,
.oneFifth,
.oneSixth {
	position: relative;
	float: left;

	-webkit-transition: height 0.3s linear,  width .3s linear;
	-moz-transition: height 0.3s linear,  width .3s linear;
	-ms-transition: height 0.3s linear,  width .3s linear;
	-o-transition: height 0.3s linear,  width .3s linear;
	transition: height 0.3s linear,  width .3s linear;
}
.half:last-child,
.oneThird:last-child,
.twoThird:last-child,
.oneFourth:last-child,
.oneFifth:last-child,
.oneSixth:last-child {
	margin-right: 0;
	float: right;
}


/*=====================
	RESPONSIVE GRID
======================*/

@media all and (min-width: 1451px) {
	.line {
		width: 1200px;
	}
} /*@media all and (min-width: 1451px)*/

@media all and (min-width: 1366px) and (max-width: 1450px) {

	.line {
		width: 1200px;
	}

} /*@media all and (min-width: 1366px)*/

@media all and (min-width:1200px) and (max-width: 1365px) {

	.line {
		width: 1170px;
	}

} /*@media all and (min-width:1200px) and (max-width:1365px)*/

@media all and (min-width:992px) and (max-width: 1199px) {

	.line {
		width: 970px;
	}
	.oneSixth {
		width: 33.3%;
	}

} /*@media all and (min-width:992px) and (max-width:1199px)*/

@media all and (min-width:768px) and (max-width: 991px) {

	.line {
		width: 750px;
	}
	.oneFifth,
	.oneSixth {
		width: 33.3%;
	}
	.oneFifth:nth-child(4),
	.oneFifth:nth-child(5) {
		width: 50%;
	}

} /*@media all and (min-width:768px) and (max-width:991px)*/

@media all and (min-width:600px) and (max-width:767px) {

	.line {
		width: 580px;
	}
	.half {
		width: 100%;
	}
	.oneFourth,
	.oneFifth,
	.oneSixth {
		width: 50%;
	}
	.oneFifth:nth-child(5) {
		width: 100%;
	}


	.half:last-child,
	.oneThird:last-child,
	.twoThird:last-child,
	.oneFourth:last-child,
	.oneFifth:last-child,
	.oneSixth:last-child {
		float: left;
	}

} /*@media all and (min-width:600px) and (max-width:767px)*/

@media all and (min-width:481px) and (max-width:599px) {

	.line {
		width: 100%;
		padding: 0 10px;
	}
	.half,
	.oneThird,
	.twoThird {
		width: 100%;
	}
	.oneFourth,
	.oneFifth,
	.oneSixth {
		width: 50%;
	}
	.oneFifth:nth-child(5) {
		width: 100%;
	}


	.half:last-child,
	.oneThird:last-child,
	.twoThird:last-child,
	.oneFourth:last-child,
	.oneFifth:last-child,
	.oneSixth:last-child {
		float: left;
	}

} /*@media all and (min-width:481px) and (max-width:599px)*/

@media all and (min-width:321px) and (max-width:480px) {

	.line {
		width: 100%;
		padding: 0 10px;
	}
	.half,
	.oneThird,
	.oneFourth,
	.twoThird,
	.oneFifth,
	.oneSixth {
		width: 100%;
	}

	.half:last-child,
	.oneThird:last-child,
	.twoThird:last-child,
	.oneFourth:last-child,
	.oneFifth:last-child,
	.oneSixth:last-child {
		float: left;
	}

} /*@media all and (min-width:321px) and (max-width:480px)*/

@media all and (max-width:320px) {

	.line {
		width: 100%;
		padding: 0 10px;
	}
	.half,
	.oneThird,
	.twoThird,
	.oneFourth,
	.oneFifth,
	.oneSixth {
		width: 100%;
	}


	.half:last-child,
	.oneThird:last-child,
	.twoThird:last-child,
	.oneFourth:last-child,
	.oneFifth:last-child,
	.oneSixth:last-child {
		float: left;
	}

} /*@media all and (max-width:320px)*/

/*====================================
	CSS Grid v.1
	-------------------
	Developed by Maiorov Maksim
	m.maiorov@gmail.com
	2014 | Kaliningrad, Russia

=====================================*/