/*====================================
	RESPONSIVE CSS
	-------------------
	Developed by Maiorov Maksim
	m.maiorov@gmail.com / mm@fdev.name
	2014 | Kaliningrad, Russia

=====================================*/



@media all and (min-width: 1367px) {


} /*@media all and (max-width: 1350px)*/

@media all and (max-width:1366px) {

	/***** SECTION SERVICES *****/

	.ui-tabs-vertical .ui-tabs-nav li a {
		font-size: .9em;
	}

	/***** /SECTION SERVICES *****/

	/***** SECTION TESTIMONIALS *****/

	.testimonials {
		width: 98%;
	}
	.testimonials .item {
		padding: 0 60px 0 0;
	}
	.testimonials .owl-controls .owl-nav .owl-next {
		right: -20px;
	}

	/***** /SECTION TESTIMONIALS *****/

	/***** SECTION FEEDBACK *****/

	section.feedback .data {
		padding: 0 30px;
	}
	section.feedback .spectrum {
		padding-left: 100px;
	}

	/***** /SECTION FEEDBACK *****/

	/***** FOOTER *****/

	footer.footer .contacts {
		width: 390px;
	}

	/***** /FOOTER *****/

	/***** SERVICE DETAIL PAGE *****/

	article.advantage {
		width: calc(25% - 30px);
		margin: 30px 30px 0px 0px;
	}

	/***** /SERVICE DETAIL PAGE *****/

	/***** NEWS LIST PAGE *****/

	section.news article.item figure.picture {
		height: 165px;
	}

	/***** /NEWS LIST PAGE *****/


} /*@media and (max-width:1349px)*/

@media all and (max-width:1199px) {

	/***** HEADER *****/

	header.header {
		overflow:visible;
	}
	header.header .logotype {
		position: absolute;
		top: 0;
		left: 2%;
		float: none;
		z-index: 11;
	}

	header.header nav.navigation {
		position: absolute;
		top: 0;
		left: 0;
		float: none;
		width:100%;
	}
	header.header .profile {
		position: absolute;
		z-index: 10;
		top: 0;
		right: 80px;
	}

	/***** /HEADER *****/


	/***** SECTION BANNER *****/

	section.whatIs {
		width: 48%;
	}
	article.inner {
		padding-left: 30px;
	}

	/***** SECTION BANNER *****/

	/***** SECTION ABOUT *****/

	section.about .context {
		height: 130px;
	}

	/***** SECTION ABOUT *****/


	/***** SECTION SERVICES *****/

	aside.banner {
		display: none;
	}
	section.servicesWrapper {
		width: 100%;
		padding: 0;
	}
	.ui-tabs-vertical .ui-tabs-nav {
		width: calc(100% - 500px);
	}
	.ui-tabs-vertical .ui-tabs-panel {
		width: 500px;
	}
	.ui-tabs-vertical .ui-tabs-nav li a {
		font-size: 1em;
	}

	/***** /SECTION SERVICES *****/


	/***** /SECTION STOCK RATES *****/

	.rates {
		width: 420px;
	}
	.stockUnit {
		margin-right: 10px;
	}

	/***** /SECTION STOCK RATES *****/



	/***** SECTION TESTIMONIALS *****/

	.testimonials .item {
		padding: 0 20px 0 0;
	}
	.testimonials .item .pic {
		background-position: 165px -1918px;
	}

	/***** /SECTION TESTIMONIALS *****/

	/***** SECTION FEEDBACK *****/

	section.feedback .data {
		width: 100%;
		padding: 0;
	}
	section.feedback .spectrum {
		padding-left: 50px;
	}

	/***** /SECTION FEEDBACK *****/

	/***** FOOTER *****/

	footer.footer .contacts {
		width: 335px;
	}
	footer.footer .news {
		width: 325px
	}
	footer.footer .newsWrapper {
		padding-right: 15px;
	}
	footer.footer .nav {
		width: 120px;
	}

	/***** /FOOTER *****/

	/***** SERVICES PAGE *****/

	section.serviceItem article.item section.description {
		width: calc(100% - 470px);
	}
	section.serviceItem article.item figure.pic {
		width: 470px;
		height: 255px;
	}

	/***** /SERVICES PAGE *****/

	/***** SERVICE DETAIL PAGE *****/

	article.advantage {
		width: calc(25% - 20px);
		margin: 30px 20px 0px 0px;
	}

	/***** /SERVICE DETAIL PAGE *****/


	/***** GOODS PAGE *****/

	section.goodsWrapper article.unit {
		width: calc(50% - 20px);
		height: 249px;
		margin: 0px 20px 30px 0px;
	}
	section.goodsWrapper article.unit section.content {
		padding: 20px 0px 21px 20px;
		font-size: .9em;
	}
	section.goodsWrapper article.unit figure.picture {
		width: 250px;
	}

	/***** /GOODS PAGE *****/


	/***** GOODS DETAIL PAGE *****/

	section.conditions article.conditions .inner .context {
		line-height: 21px;
	}
	section.conditions article.learn .inner .context {
		width: calc(100% - 200px);
	}
	section.conditions article.learn .inner figure.img {
		width: 200px;
	}

	/***** /GOODS DETAIL PAGE *****/

	/***** NEWS LIST PAGE *****/

	section.rate .item:last-child {
		margin-left: 30px;
	}
	section.news article.item {
		width: calc(33.33% - 20px);
		margin: 0 16px 40px 0;
	}
	section.news article.item figure.picture {
		height: 150px;
	}

	/***** /NEWS LIST PAGE *****/


} /*@media and (max-width:1199px)*/

@media all and (max-width:991px) {

	/***** SECTION BANNER *****/

	section.banner {
		position: relative;
	}
	section.banner .line {
		position: relative;
	}
	section.bannerContent {
		float: none;
		position: relative;
		width: 100%;
		z-index: 5;
	}
	section.whatIs {
		position: absolute;
		top: 0;
		right: -13%;
		width: 70%;
		z-index: 6;
		transform: skew(-15deg,0) translateX(80%);

		transition: all .3s ease-in-out;
	}
	section.whatIs:hover {
		cursor: pointer;
	}
	section.whatIs.visible {
		background: rgba(20, 27, 33, 0.9);
		transform: skew(-15deg,0) translateX(0);

		transition: all .3s ease-in-out;
	}
	article.inner {
		transform: skew(15deg,0)
	}

	/***** /SECTION BANNER *****/


	/***** SECTION ABOUT *****/

	section.about .featuresWrapper {
		padding-top: 20px;
	}
	section.about .context {
		padding: 0;
		background: 0;
	}
	section.about .featuresWrapper .oneFourth {
		width: 50%;
	}
	section.about .featuresWrapper section.inner {
		height: 90px;
	}
	.divide {
		display: block;
	}

	/***** /SECTION ABOUT *****/

	/***** SECTION SERVICES *****/

	.ui-tabs-vertical .ui-tabs-nav {
		width: calc(100% - 350px);
	}
	.ui-tabs-vertical .ui-tabs-panel {
		width: 350px;
	}
	.ui-tabs-vertical .ui-tabs-nav li a {
		font-size: .85em;
	}

	/***** /SECTION SERVICES *****/

	/***** SECTION STOCK RATES *****/

	section.stockRates h2 {
		font-size: 2em;
		text-align: left;
	}
	.title,
	.rates {
		float: none;
		width: 100%;
	}
	.title {
		text-align: center;
	}
	.rates {
		padding-top: 20px;
		text-align: center;
	}
	.stockUnit {
		float: none;
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}
	.stockUnit:first-child {
		margin-right: 10px;
	}
	.stockUnit:last-child {
		margin-left: 10px;
	}

	/***** /SECTION STOCK RATES *****/


	/***** SECTION DEAL WITH US *****/

	section.dealWithUs .lines {
		display: none;
	}
	section.dealWithUs .itemsWrapper .oneFourth {
		width: 50%;
	}
	section.dealWithUs .itemsWrapper .oneFourth:first-child,
	section.dealWithUs .itemsWrapper .oneFourth:nth-child(2) {
		margin-bottom: 15px;
	}
	section.dealWithUs .oneFourth::after {
		right: 20px;
	}

	/***** /SECTION DEAL WITH US *****/


	/***** /SECTION INDICATORS *****/

	section.indicators .item:nth-child(2) {
		margin: 0 50px;
	}

	/***** /SECTION INDICATORS *****/


	/***** SECTION TESTIMONIALS *****/

	.testimonials .item {
		max-height: 390px;
	}

	/***** /SECTION TESTIMONIALS *****/

	/***** SECTION FEEDBACK *****/

	section.feedback .feedback,
	section.feedback .spectrum {
		float: none;
		width: 100%;
	}
	section.feedback .data span.block {
		display: inline;
	}
	section.feedback ul.services li {
		padding: 10px 0 10px 45px;
	}

	/***** /SECTION FEEDBACK *****/


	/***** FOOTER *****/

	footer.footer .contacts,
	footer.footer .news,
	footer.footer .nav,
	footer.footer .social {
		width: 50%
	}
	footer.footer .newsWrapper {
		padding-right: 15px;
	}
	footer.footer .nav {
		min-height: auto;
	}
	footer.footer .divide {
		display: block;
	}

	/***** /FOOTER *****/

	/***** SERVICES PAGE *****/

	section.serviceItem article.item h4.title {
		text-align: left;
	}

	section.serviceItem article.item section.description {
		width: calc(100% - 360px);
	}
	section.serviceItem article.item figure.pic {
		width: 360px;
		height: 195px;
	}

	/***** /SERVICES PAGE *****/

	/***** SERVICE DETAIL PAGE *****/

	article.detailService figure.detailService {
		max-width: 400px;
		max-height: 215px;
		margin: 0px 0px 15px 15px;
	}

	article.detailService figure.detailService img {
		max-width: 400px;
		max-height: 215px;
	}
	.container.advatages {
		text-align: center;
	}
	article.advantage {
		float: none;
		display: inline-block;
		width: calc(45% - 30px);
		margin: 30px 25px 0px 0px;
		text-align: left;
		vertical-align: top;
}
	article.advantage:nth-child(3),
	article.advantage:last-child {
		margin: 30px 0 0px 0px;
	}
	.container.advatages .divide {
		display: block;
		height: 1px;
		overflow: hidden;
	}

	/***** /SERVICE DETAIL PAGE *****/


	/***** GOODS PAGE *****/

	section.goodsWrapper article.unit {
		float: none;
		width: 100%;
		height: 260px;
		margin: 0px 0 30px 0px;
	}
	section.goodsWrapper article.unit section.content {
		padding: 20px 0px 20px 20px;
		font-size: .95em;
	}
	section.goodsWrapper article.unit figure.picture {
		width: 262px;
	}

	/***** /GOODS PAGE *****/


	/***** GOODS DETAIL PAGE *****/

	.substrate {
		display: none;
	}
	.container.delivery .line {
		width: 100%;
	}
	section.conditions {
		padding: 20px 0;
	}
	section.conditions article.conditions,
	section.conditions article.learn {
		float: none;
		width: 100%;
		padding: 30px 20px;
	}
	section.conditions article.conditions {
		background: #c4d8e1;
	}
	section.conditions article.learn {

		background: #e7eff2;
	}
	section.conditions article.conditions .inner .context {
		max-height: none;
	}
	section.conditions article.learn .inner {
		padding: 0;
	}
	section.goodsWrapper figure.detailGoods {
		width: 400px;
		height: 215px;
	}

	/***** /GOODS DETAIL PAGE *****/

	/***** NEWS LIST PAGE *****/

	section.rate {
		float: none;
		display: none;
	}
	section.learnMore {
		float: none;
		width: 100%;
		padding-left: 10px;
		background: #c4d8e1
	}
	section.learnMore h3 {
		width: 100%;
		margin-bottom: 20px;
	}
	section.learnMore .conditions {
		width: 100%;
	}
	section.news article.item {
		width: calc(50% - 20px);
		margin: 0 16px 40px 0;
	}
	section.news article.item figure.picture {
		height: 175px;
	}
	section.news article.item .title {
		text-align: left;
	}

	/***** /NEWS LIST PAGE *****/


} /*@media and (max-width:991px)*/


@media all and (max-width:767px) {

	/***** SECTION BANNER *****/

	section.whatIs {
		width: 85%;
	}

	/***** /SECTION BANNER *****/

	/***** /SECTION ABOUT *****/

	section.about .featuresWrapper {
		padding: 40px 10px 0px;
	}
	section.about .featuresWrapper section.inner {
		height: 90px;
		padding: 2px 25px 0px 0px;
	}
	section.about a.launcher {
		right: 25px;
	}
	section.about .context {
		height: auto;
	}

	/***** /SECTION ABOUT *****/


	/***** SECTION SERVICES *****/

	.ui-tabs-vertical .ui-tabs-nav li {
		height: auto;
	}
	.ui-tabs-vertical .ui-tabs-nav li a {
		height: auto;
		padding: 5px 10px 5px 55px;
		font-size: .85em;
		line-height: 20px;
	}

	/***** /SECTION SERVICES *****/


	/***** SECTION DEAL WITH US *****/

	section.dealWithUs .itemsWrapper .oneFourth {
		width: 50%;
	}
	section.dealWithUs .itemsWrapper .oneFourth:first-child,
	section.dealWithUs .itemsWrapper .oneFourth:nth-child(2) {
		margin-bottom: 15px;
	}
	section.dealWithUs .oneFourth::after {
		right: -5px;
	}

	/***** /SECTION DEAL WITH US *****/


	/***** /SECTION INDICATORS *****/

	section.indicators .itemsWrapper {
		text-align: left;
	}
	section.indicators .item {
		width: 180px;
		text-align: center;
	}
	section.indicators .item:nth-child(2) {
		margin: 0;
	}

	/***** /SECTION INDICATORS *****/


	/***** SECTION TESTIMONIALS *****/

	.testimonials {
		width: 90%;
		margin: 0 auto;
		padding: 20px 0 0 0;
	}
	.testimonials .item {
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
	.testimonials .owl-controls .owl-nav .owl-prev {
		left: -20px;
	}
	.testimonials .owl-controls .owl-nav .owl-next {
		right: -25px;
	}

	/***** /SECTION TESTIMONIALS *****/


	/***** FOOTER *****/

	footer.footer .contacts,
	footer.footer .news {
		float: none;
		width: 100%
	}
	footer.footer .nav,
	footer.footer .social {
		width: 50%;
	}
	footer.footer .newsWrapper {
		padding-right: 15px;
	}
	footer.footer .nav {
		min-height: auto;
	}
	nav.footer ul {
		padding: 0;
	}
	footer.footer .divide {
		display: block;
	}

	/***** /FOOTER *****/

	/***** SERVICES PAGE *****/

	section.serviceItem article.item section.description,
	section.serviceItem article.item figure.pic {
		float: none;
		width: 100%;
	}
	section.serviceItem article.item section.description,
	section.serviceItem:nth-child(2n) article.item section.description {
		padding: 0;
	}
	section.serviceItem article.item figure.pic {
		height: auto;
	}
	#ourServices {
		text-align: right;
	}
	#ourServices h3 {
		margin: 0;
	}
	#ourServices .ctrls {
		float: right;
		margin: 0;
	}
	#ourServices a.btn.left {
		float: none;
		margin: 20px 10px 0 0;
	}
	.s_units {
		padding-top: 20px;
	}

	/***** /SERVICES PAGE *****/

	/***** SERVICE DETAIL PAGE *****/

	.appWrapper {
		text-align: right;
	}

	article.detailService figure.detailService {
		max-width: 300px;
		max-height: 162px;
		margin: 0px 0px 10px 10px;
	}
	article.detailService figure.detailService img {
		max-width: 300px;
		max-height: 162px;
	}
	article.advantage {
		float: none;
		display: inline-block;
		width: calc(50% - 25px);
		margin: 30px 20px 0px 0px;
		text-align: left;
		vertical-align: top;
	}

	/***** /SERVICE DETAIL PAGE *****/

	/***** GOODS PAGE *****/

	section.goodsWrapper article.unit {
		margin: 0px 0 20px 0px;
	}

	/***** /GOODS PAGE *****/

	/***** GOODS DETAIL PAGE *****/

	section.goodsWrapper figure.detailGoods {
		max-width: 300px;
		max-height: 162px;
		margin: 0px 0px 10px 10px;
	}

	/***** /GOODS DETAIL PAGE *****/


	/***** NEWS LIST PAGE *****/

	section.news {
		padding: 20px 0;
	}
	section.news article.item {
		width: calc(50% - 20px);
		margin: 0 16px 40px 0;
	}
	section.news article.item figure.picture {
		height: 135px;
	}


	/***** /NEWS LIST PAGE *****/


} /*@media and (max-width:767px)*/

@media all and (max-width:599px) {

	/***** SECTION BANNER *****/

	section.whatIs {
		width: 100%;
	}

	/***** /SECTION BANNER *****/

	/***** /SECTION ABOUT *****/

	section.about .featuresWrapper .oneFourth {
		width: 100%;
	}
	section.about .divide {
		display: none;
	}
	section.about .featuresWrapper {
		padding: 40px 10px 0px;
	}
	section.about a.launcher {
		right: 25px;
	}

	/***** /SECTION ABOUT *****/

	/***** SECTION SERVICES *****/

	.ui-tabs-vertical .ui-tabs-nav {
		width: 55px;
		overflow: hidden;
	}
	.ui-tabs-vertical .ui-tabs-nav li {
		height: auto;
	}
	.ui-tabs-vertical .ui-tabs-nav li a {
		width: 100%;
		height: 55px;
		padding: 5px 10px 5px 55px;
		font-size: .85em;
		line-height: 20px;
		overflow: hidden;
	}
	.ui-tabs-vertical .ui-tabs-nav li:hover::before,
	.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active::before {
		left: 0;
	}
	.ui-tabs-vertical .ui-tabs-panel {
		width: calc(100% - 55px);
		min-height: 300px;
	}

	/***** /SECTION SERVICES *****/

	/***** SECTION DEAL WITH US *****/

	section.dealWithUs .itemsWrapper .oneFourth {
		width: 50%;
		padding-left: 20px;
		text-align: left;
	}
	section.dealWithUs .itemsWrapper .oneFourth:first-child,
	section.dealWithUs .itemsWrapper .oneFourth:nth-child(2) {
		margin-bottom: 15px;
	}
	section.dealWithUs .oneFourth::after {
		right: 5px;
	}
	section.dealWithUs section.inner {
		width: 165px;
		height: 230px
	}
	section.dealWithUs section.inner .context {
		padding: 15px;
		font-size: 1em;
		line-height: 18px;
	}
	section.dealWithUs section.inner.faq {
	    background-position: 44px -870px;
	}
	section.dealWithUs section.inner.call {
	    background-position: -320px -870px;
	}
	section.dealWithUs section.inner.supply {
	    background-position: -659px -870px;
	}
	section.dealWithUs .oneFourth:last-child section.inner.control {
	    background-position: -1029px -870px;
	}

	/***** /SECTION DEAL WITH US *****/

	/***** /SECTION INDICATORS *****/

	section.indicators .itemsWrapper {
		text-align: center;
	}
	section.indicators .item {
		width: 100%;
		margin-bottom: 30px;
	}
	section.indicators .item:nth-child(2) {
		margin: 0 0 30px;
	}

	/***** /SECTION INDICATORS *****/

	/***** SECTION FEEDBACK *****/

	.fb form {
		padding: 0 0 30px;
	}


	/***** /SECTION FEEDBACK *****/

	/***** SERVICES PAGE *****/

	.breadcrumbs {
		display: none;
	}

	/***** /SERVICES PAGE *****/

	/***** SERVICE DETAIL PAGE *****/

	.appWrapper {
		text-align: right;
	}

	article.detailService figure.detailService {
		margin: 0px 0px 10px 10px;
	}
	article.detailService figure.detailService img {
		max-width: 230px;
		max-height: 125px;
	}
	article.advantage {
		float: none;
		display: block;
		width: 100%;
		margin: 30px 0 0px 0px;
		text-align: left;
	}
	.container.advatages h2 {
		font-size: 1.9em;
	}
	.container.advatages .divide {
		display: none;
	}

	/***** /SERVICE DETAIL PAGE *****/

	/***** GOODS PAGE *****/

	section.goodsWrapper article.unit {
		float: none;
		width: 100%;
		height: 260px;
		margin: 0 0 15px 0;
	}
	section.goodsWrapper article.unit section.content {
		width: calc(100% - 200px);
		padding: 20px 0px 20px 20px;
		font-size: .90em;
		line-height: 19px;
	}
	section.goodsWrapper article.unit figure.picture {
		width: 200px;
		overflow: hidden;
	}
	section.goodsWrapper article.unit figure.picture img {
		width: auto;
		height: 100%;
	}

	/***** /GOODS PAGE *****/


	/***** GOODS DETAIL PAGE *****/

	.container.delivery {
		margin: 10px 0;
	}
	section.goodsWrapper figure.detailGoods {
		max-width: 230px;
		max-height: 125px;
	}

	/***** /GOODS DETAIL PAGE *****/


	/***** NEWS LIST PAGE *****/

	section.learnMore h3 {
		font-size: 1.8em;
	}
	section.news article.item {
		width: calc(50% - 10px);
		margin: 0 6px 20px 0;
	}
	section.news article.item figure.picture {
		height: auto;
		max-height: 135px;
		min-height: 110px;
	}

	/***** /NEWS LIST PAGE *****/


} /*@media and (max-width:599px)*/

@media all and (max-width:480px) {

	/***** HEADER *****/

	header.header .logotype {
		padding: 13px 0px 0px;
	}
	header.header .logotype img.pc {
		display: none;
	}
	header.header .logotype img.mobile {
		display: block;
	}

	/***** /HEADER *****/

	/***** SECTION BANNER *****/

	section.banner {
		height: 460px;
		padding-top: 70px;
	}
	section.bannerContent {
		padding: 20px 0;
	}
	section.bannerContent h2 {
	    font-size: 2.2em;
	    line-height: 35px;
	}
	section.bannerContent .delivery {
		font-size: 1.3em;
	}
	section.bannerContent .delivery .item {
		display: none;
	}

	section.whatIs {
		right: -25%;
		width: 100%;
		padding: 20px 15px;
	}
	section.whatIs {
		transform: skew(-15deg,0) translateX(80%);

		transition: all .3s ease-in-out;
	}
	section.whatIs:hover {
		cursor: pointer;
	}
	section.whatIs.visible {
		right: 0;
		background: rgba(20, 27, 33, 0.9);
		transform: skew(0,0) translateX(0);

		transition: all .3s ease-in-out;
	}
	article.inner {
		width: 90%;
		margin: 0 auto;
		padding: 0;
		transform: skew(0,0)
	}
	section.features .item {
		padding: 10px 0px 10px 50px;
	}
	section.whatIs a.button {
		font-size: 1.1em;
	}

	/***** /SECTION BANNER *****/

	/***** SECTION ABOUT *****/

	section.about {
		padding: 30px 0;
	}
	section.about .context {
		height: auto;
	}

	/***** /SECTION ABOUT *****/

	/***** SECTION SERVICES *****/

	section.services {
		padding: 30px 0;
	}
	section.services h2 {
		font-size: 1.8em;
	}
	.ui-tabs-vertical .ui-tabs-panel {
		padding: 10px;
	}
	.ui-tabs-vertical .ui-tabs-panel h4 {
		font-size: 1.4em;
	}

	/***** /SECTION SERVICES *****/

	/***** SECTION STOCK RATES *****/

	section.stockRates h2 {
		font-size: 1.8em;
	}
	.title {
		padding-left: 0;
	}
	section.stockRates h2 span.block {
		display: inline;
	}
	section.stockRates h2.border::before {
		display: none;
	}

	.stockUnit:first-child,
	.stockUnit:last-child {
		width: 90%;
		max-width: 320px;
		margin: 0 auto;
	}
	.stockUnit:first-child {
		margin-bottom: 20px;
	}

	/***** /SECTION STOCK RATES *****/

	/***** SECTION DEAL WITH US *****/

	section.dealWithUs h2 {
		font-size: 1.8em;
	}
	section.dealWithUs .itemsWrapper .oneFourth {
		float: none;
		width: 90%;
		margin: 0 auto 20px!important;
		padding: 0 0 20px;
		text-align: center;
	}
	section.dealWithUs .oneFourth::after {
		top: auto;
		bottom: -16px;
		right: 50%;
		margin-right: -18px;
		transform: rotate(90deg);
	}
	section.dealWithUs section.inner {
		width: 200px;
	}
	section.dealWithUs section.inner .context {
	    padding: 15px 20px;
	}
	section.dealWithUs section.inner.faq {
	    background-position: 63px -870px;
	}
	section.dealWithUs section.inner.call {
	    background-position: -305px -870px;
	}
	section.dealWithUs section.inner.supply {
	    background-position: -641px -870px;
	}
	section.dealWithUs .oneFourth:last-child section.inner.control {
	    background-position: -1012px -870px;
	}

	/***** /SECTION DEAL WITH US *****/

	/***** SECTION TESTIMONIALS *****/

	.testimonials .item {
		max-height: 455px;
	}
	.testimonials .item .pic {
		background-position: 125px -1918px;
	}

	/***** /SECTION TESTIMONIALS *****/


	/***** SECTION FEEDBACK *****/

	section.feedback {
		padding: 30px 0;
	}
	.fb {
		padding: 0;
	}
	.fb .item {
		margin-bottom: 10px;
	}
	section.feedback .spectrum {
		padding-left: 0;
	}
	section.feedback .data h2.border::before {
		display: none;
	}

	/***** /SECTION FEEDBACK *****/

	/***** FOOTER *****/

	footer.footer .contacts,
	footer.footer .news {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #334652;
	}
	footer.footer .nav {
		display: none;
	}
	footer.footer .social {
		width:100%;
	}
	footer.footer .logo {
		margin: 20px 0;
	}
	footer.footer .divide {
		display: none;
	}

	/***** /FOOTER *****/


	/***** SERVICES PAGE *****/

	.breadcrumbs {
		display: none;
	}

	#ourServices {
		text-align: center;
	}
	#ourServices h3 {
		display: block;
		margin: 0;
	}
	#ourServices .ctrls {
		float: none;
		width: 100%;
		margin: 10px auto;
	}
	#ourServices a.btn.left {
		float: none;
		margin: 10px 10px 0 0;
	}
	section.serviceItem article.item h4.title {
		font-size: 1.3em;
		line-height: 29px;
	}
	section.serviceItem article.item h4.title.service {
	    background-position: -23px -387px;
	}
	section.serviceItem article.item h4.title.logistic {
	    background-position: -23px -459px;
	}
	section.serviceItem article.item h4.title.profile {
	    background-position: -23px -523px;
	}
	section.serviceItem article.item h4.title.analytics {
	    background-position: -23px -666px;
	}
	section.serviceItem article.item h4.title.access {
	    background-position: -13px -736px;
	}

	/***** /SERVICES PAGE *****/

	/***** SERVICE DETAIL PAGE *****/

	.appWrapper {
		position: static;
		text-align: left;
	}
	article.detailService {
		padding-top: 25px;
	}

	article.detailService figure.detailService,
	article.detailService figure.detailService img {
		float: none;
		width: 100%;
		max-width: none;
		max-height: none;
	}
	article.detailService figure.detailService {
		margin: 0 0 10px 0;
	}
	article.detailService figure.detailService img {
		margin: 0;
	}
	article.advantage {
		float: none;
		display: block;
		width: 100%;
		margin: 30px 0 0px 0px;
		text-align: left;
	}
	.container.advatages h2 {
		font-size: 1.7em;
	}
	article.detailService section.detailText blockquote.border,
	article.detailService section.detailText blockquote.boxed {
		margin: 20px 0;
	}
	article.detailService section.detailText blockquote.border {
		padding: 5px 0px 5px 20px;
		font-weight: 300;
	}

	/***** /SERVICE DETAIL PAGE *****/

	/***** GOODS PAGE *****/

	section.goodsWrapper article.unit section.content {
		width: calc(100% - 100px);
	}
	section.goodsWrapper article.unit figure.picture {
		width: 100px;
	}

	/***** /GOODS PAGE *****/


	/***** GOODS DETAIL PAGE *****/

	section.goodsWrapper {
		padding-top: 25px;
	}
	section.goodsWrapper figure.detailGoods {
		float: none;
		width: auto;
		height: auto;
		max-width: none;
		max-height: none;
		margin: 0 0 10px 0;
	}
	section.conditions article.conditions,
	section.conditions article.learn {
		padding: 20px;
	}
	section.conditions article.conditions .inner .context {
		font-size: 1em;
	}
	section.conditions article.learn .inner .context {
		float: none;
		width: 100%;
		font-size: 1em;
	}
	section.conditions article.learn .inner figure.img {
		float: none;
		display: none;
	}

	/***** /GOODS DETAIL PAGE *****/

	/***** NEWS LIST PAGE *****/

	section.news article.item {
		width: 100%;
		margin: 0 0 20px 0;
	}
	section.news article.item figure.picture {
		height: auto;
		max-height: 215px;
		min-height: 150px;
	}

	/***** /NEWS LIST PAGE *****/


} /*@media and (max-width:480px)*/

@media all and (max-width:320px) {


} /*@media all and (max-width:320px)*/






/*====================================
	RESPONSIVE CSS
	-------------------
	Developed by Maiorov Maksim
	m.maiorov@gmail.com / mm@fdev.name
	2014 | Kaliningrad, Russia

=====================================*/