/*====================================
	RESPONSIVE CSS
	-------------------
	Developed by Maiorov Maksim
	m.maiorov@gmail.com / mm@fdev.name
	2014 | Kaliningrad, Russia

=====================================*/


@media all and (min-width: 1367px) and (max-width: 1450px) {

	/***** COMPANY PAGE *****/

	.full_image {
		height: 290px;
	}
	.full_image .motto {
		right: 170px;
	}

	/***** /COMPANY PAGE *****/

} /*@media all and (max-width: 1350px)*/

@media all and (max-width:1366px) {

	/***** SECTION SERVICES *****/

	.ui-tabs-vertical .ui-tabs-nav li a {
		font-size: .9em;
	}

	/***** /SECTION SERVICES *****/

	/***** SECTION DEAL WITH US *****/

	section.dealWithUs section.item {
		margin-right: 35px;
	}
	section.dealWithUs section.item::after {
		right: -36px;
	}

	/***** /SECTION DEAL WITH US *****/

	/***** SECTION TESTIMONIALS *****/

	.testimonials {
		width: 98%;
	}
	.testimonials .item {
		padding: 0 60px 0 0;
	}
	.testimonials .owl-controls .owl-nav .owl-next {
		right: -20px;
	}

	/***** /SECTION TESTIMONIALS *****/

	/***** SECTION FEEDBACK *****/

	section.feedback .data {
		padding: 0 30px;
	}
	section.feedback .spectrum {
		padding-left: 100px;
	}

	/***** /SECTION FEEDBACK *****/

	/***** FOOTER *****/

	footer.footer .contacts {
		width: 390px;
	}

	/***** /FOOTER *****/

	/***** SERVICE DETAIL PAGE *****/

	article.advantage {
		width: calc(25% - 30px);
		margin: 30px 30px 0px 0px;
	}

	/***** /SERVICE DETAIL PAGE *****/


	/***** NEWS LIST PAGE *****/

	section.news article.item figure.picture,
	section.analytics article.item figure.picture {
		height: 165px;
	}

	/***** /NEWS LIST PAGE *****/

	/***** TARIFF PAGE *****/

	article.tariff .item .value,
	article.tariff .unit .value.full {
		width: 869px;
	}
	article.tariff .unit .value {
		width: 217.5px;
	}
	article.tariff .unit .valueHalf {
		width: 435px;
	}
	article.tariff .unit .valueThird {
		width: 290px;
	}

	/***** /TARIFF PAGE *****/

	/***** COMPANY PAGE *****/

	.full_image {
		height: 240px;
	}
	.full_image .motto {
		right: 70px;
	}

	/***** /COMPANY PAGE *****/


} /*@media and (max-width:1366px)*/

@media all and (max-width:1199px) {

	/***** HEADER *****/

	header.header {
		overflow:visible;
	}
	header.header .logotype {
		position: absolute;
		top: 0;
		left: 2%;
		float: none;
		z-index: 11;
	}

	header.header nav.navigation {
		position: absolute;
		top: 0;
		left: 0;
		float: none;
		width:100%;
	}
	header.header .profile {
		position: absolute;
		z-index: 10;
		top: 0;
		right: 80px;
	}

	/***** /HEADER *****/


	/***** SECTION BANNER *****/

	section.whatIs {
		width: 48%;
	}
	article.inner {
		padding-left: 30px;
	}
	section.bannerContent .delivery .item {
		margin-right: 0;
	}
	section.bannerContent .delivery .more {
		background-position: 5px center;
	}

	/***** SECTION BANNER *****/

	/***** SECTION ABOUT *****/

	section.about .context {
		height: 130px;
	}

	/***** SECTION ABOUT *****/


	/***** SECTION SERVICES *****/

	aside.banner {
		display: none;
	}
	section.servicesWrapper {
		width: 100%;
		padding: 0;
	}
	.ui-tabs-vertical .ui-tabs-nav {
		width: calc(100% - 500px);
	}
	.ui-tabs-vertical .ui-tabs-panel {
		width: 500px;
	}
	.ui-tabs-vertical .ui-tabs-nav li a {
		font-size: 1em;
	}

	/***** /SECTION SERVICES *****/


	/***** /SECTION STOCK RATES *****/

	.rates {
		width: 420px;
	}
	.stockUnit {
		margin-right: 10px;
	}

	/***** /SECTION STOCK RATES *****/


	/***** SECTION DEAL WITH US *****/

	section.dealWithUs section.item {
		width: 210px;
		margin-right: 35px;
	}
	section.dealWithUs section.item::after {
		right: -36px;
	}
	section.dealWithUs section.item .context {
		font-size: 1.1em;
	}

	/***** /SECTION DEAL WITH US *****/

	/***** SECTION INDICATORS *****/

	section.indicators .item {
		margin-right: 10px;
	}
	section.indicators .value span.value {
		font-size: 7em;
	}

	/***** /SECTION INDICATORS *****/


	/***** SECTION TESTIMONIALS *****/

	.testimonials .item {
		padding: 0 20px 0 0;
	}
	.testimonials .item .pic {
		background-position: 165px -1918px;
	}

	/***** /SECTION TESTIMONIALS *****/

	/***** SECTION FEEDBACK *****/

	section.feedback .data {
		width: 100%;
		padding: 0;
	}
	section.feedback .spectrum {
		padding-left: 50px;
	}

	/***** /SECTION FEEDBACK *****/

	/***** FOOTER *****/

	footer.footer .contacts {
		width: 335px;
	}
	footer.footer .news {
		width: 325px
	}
	footer.footer .newsWrapper {
		padding-right: 15px;
	}
	footer.footer .nav {
		width: 120px;
	}

	/***** /FOOTER *****/


	/***** SERVICES PAGE *****/

	.appWrapper {
		text-align: right;
	}
	section.serviceItem article.item section.description {
		width: calc(100% - 470px);
	}
	section.serviceItem article.item figure.pic {
		width: 470px;
		height: 255px;
	}

	/*section.serviceItem article.item section.description .inner {
		max-height: 150px;
	}*/

	/***** /SERVICES PAGE *****/


	/***** SERVICE DETAIL PAGE *****/

	article.advantage {
		width: calc(25% - 20px);
		margin: 30px 20px 0px 0px;
	}

	/***** /SERVICE DETAIL PAGE *****/

	/***** GOODS PAGE *****/

	section.goodsWrapper article.unit {
		width: calc(50% - 20px);
		height: 249px;
		margin: 0px 20px 30px 0px;
	}
	section.goodsWrapper article.unit section.content {
		padding: 20px 0px 21px 20px;
		font-size: .9em;
	}
	section.goodsWrapper article.unit figure.picture {
		width: 250px;
	}

	/***** /GOODS PAGE *****/


	/***** GOODS DETAIL PAGE *****/

	section.conditions article.learn_ .inner_ {
		padding-left: 50px;
	}
	section.conditions article.conditions .inner .context {
		line-height: 21px;
	}
	section.conditions article.learn .inner .context,
	section.conditions article.learn_ .inner_ .context {
		width: calc(100% - 200px);
	}
	section.conditions article.learn figure.img,
	section.conditions article.learn_ figure.image {
		width: 200px;
	}

	/***** /GOODS DETAIL PAGE *****/


	/***** NEWS LIST PAGE *****/

	section.news article.item,
	section.analytics article.item {
		width: calc(33.33% - 20px);
		margin: 0 16px 40px 0;
	}
	section.news article.item figure.picture,
	section.analytics article.item figure.picture {
		height: 150px;
	}

	section.learnMore h3 {
		font-size: 1.8em;
	}
	section.learnMore .lm_inner {
		width: calc(100% - 165px);
		margin-right: 10px;
	}
	section.learnMore .lm_banner {
		width: 150px;
		height: 195px;
	}

	/***** /NEWS LIST PAGE *****/

	/***** NEWS DETAIL PAGE *****/

	header.detail .title {
		width: calc(100% - 100px);
	}
	header.detail .title h3 {
		font-size: 2em;
	}

	/***** /NEWS DETAIL PAGE *****/

	/***** CLIENTS PAGE *****/

	#orders,
	.triggers a {
		text-align: left;
	}
	#orders .triggers > li {
		display: block;
		padding: 0;
	}
	#orders .triggers a {
		display: inline-block;
		width: auto;
	}
	section.samples .unit .aritem .date,
	section.samples .unit .aritem .link {
		float: none;
		width: 100%;
	}

	/***** /CLIENTS PAGE *****/

	/***** TARIFF PAGE *****/

	article.tariff .item .label,
	article.tariff .unit .label {
		width: 250px;
	}
	article.tariff .item .value,
	article.tariff .unit .value.full {
		width: 669px;
	}
	article.tariff .unit .value {
		width: 180px;
	}
	article.tariff .unit .valueHalf {
		width: 335px;
	}
	article.tariff .unit .valueThird {
		width: 240px;
	}
	article.tariff .unit .value.header,
	article.tariff .unit .valueHalf.header,
	article.tariff .unit .valueThird.header {
		padding: 20px 5px;
	}
	article.tariff .item .label,
	article.tariff .item .value,
	article.tariff .unit .label,
	article.tariff .unit .value,
	article.tariff .unit .valueHalf,
	article.tariff .unit .valueThird {
		font-size: 1em;
	}

	/***** /TARIFF PAGE *****/

	/***** 404 PAGE *****/

	section.notfound,
	section.notfound .container,
	section.notfound .container .line {
		height: auto;
	}
	section.notfound {
		min-height: 450px;
		padding-top: 70px;
	}
	section.fail {
		position: static;
		height: auto;
		margin: 40px 0;
	}
	section.fail section.content {
		width: calc(100% - 400px);
	}
	section.fail figure.pic {
		width: 400px;
	}
	section.fail h1 {
		font-size: 4em;
		margin-bottom: 15px;
	}
	section.fail h3 {
		font-size: 1.8em;
	}

	/***** /404 PAGE *****/


	/***** MEDIA PAGE *****/

	article.mediaUnit {
		width: calc(50% - 20px);
		margin: 0 20px 20px 0;
	}

	/***** /MEDIA PAGE *****/

	/***** CONTACTS PAGE *****/

	.contactsWrapper .item:first-child,
	.contactsWrapper .item:nth-child(2) {
		margin-right: 20px;
	}
	section.map {
		height: 400px;
	}

	/***** /CONTACTS PAGE *****/

	/***** NEWS LIST *****/

	section.rate .item {
		width: 410px;
	}

	/***** /NEWS LIST *****/

	/***** COMPANY PAGE *****/

	.full_image {
		height: 200px;
		margin-bottom: 30px;
	}
	.full_image .motto {
		right: 0;
	}

	/***** /COMPANY PAGE *****/

	.regional_offices_wrp .office {
        width: 260px;
	}


	/*** vote ***/

	.mm_vote_section_item {
		width: calc(25% - 20px);
	}


} /*@media and (max-width:1199px)*/

@media all and (max-width:991px) {

	/***** SECTION BANNER *****/

	section.banner {
		position: relative;
	}
	section.banner .line {
		position: relative;
	}
	section.bannerContent {
		float: none;
		position: relative;
		width: 100%;
		z-index: 5;
	}
	section.whatIs {
		position: absolute;
		top: 0;
		right: -13%;
		width: 70%;
		z-index: 6;
		transform: skew(-15deg,0) translateX(80%);

		transition: all .3s ease-in-out;
	}
	section.whatIs:hover {
		cursor: pointer;
	}
	section.whatIs.visible {
		background: rgba(20, 27, 33, 0.9);
		transform: skew(-15deg,0) translateX(0);

		transition: all .3s ease-in-out;
	}
	article.inner {
		transform: skew(15deg,0)
	}

	/***** /SECTION BANNER *****/


	/***** SECTION ABOUT *****/

	section.about .featuresWrapper {
		padding-top: 20px;
	}
	section.about .context {
		padding: 0;
		background: 0;
	}
	section.about .featuresWrapper .oneFourth {
		width: 50%;
	}
	section.about .featuresWrapper section.inner {
		height: auto;
	}
	.divide {
		display: block;
	}

	/***** /SECTION ABOUT *****/

	/***** SECTION SERVICES *****/

	.ui-tabs-vertical .ui-tabs-nav {
		width: calc(100% - 350px);
	}
	.ui-tabs-vertical .ui-tabs-panel {
		width: 350px;
	}
	.ui-tabs-vertical .ui-tabs-nav li a {
		font-size: .85em;
	}

	/***** /SECTION SERVICES *****/

	/***** SECTION STOCK RATES *****/

	section.stockRates h2 {
		font-size: 2em;
		text-align: left;
	}
	.title,
	.rates {
		float: none;
		width: 100%;
	}
	.rates {
		padding-top: 20px;
		text-align: left;
	}
	.stockUnit {
		float: none;
		display: block;
		max-width: 500px;
		margin: 0;
	}

	/***** /SECTION STOCK RATES *****/


	/***** SECTION DEAL WITH US *****/

	section.dealWithUs {
		background-attachment: initial;
	}
	section.dealWithUs section.item {
		width: 100%;
		height: auto;
		margin: 0 0 35px;
		text-align: left;
	}
	section.dealWithUs section.item::after {
		right: 50%;
		top: auto;
		bottom: -40px;
		margin-right: -15px;
		transform: rotate(90deg);
	}
	section.dealWithUs section.item .inner {
		padding: 20px;
	}
	section.dealWithUs section.item .inner::before {
		right: -40px;
	}
	section.dealWithUs section.item span.ico {
		vertical-align: middle;
	}
	section.dealWithUs section.item .context {
		display: inline-block;
		width: calc(100% - 80px);
		height: 100%;
		padding-left: 20px;
		vertical-align: middle;
	}
	section.dealWithUs section.item .context span.cell {
		height: 100%;
	}

	/***** /SECTION DEAL WITH US *****/


	/***** /SECTION INDICATORS *****/

	section.indicators .item {
		margin-right: 0;
	}
	section.indicators .item:first-child,
	section.indicators .item:nth-child(2),
	section.indicators .item:nth-child(3),
	section.indicators .item:last-child {
		width: calc(50% - 4px);
	}
	section.indicators .item:first-child,
	section.indicators .item:nth-child(2) {
		margin-bottom: 50px;
	}
	section.indicators .value span.prefix {
		left: 90px;
	}

	/***** /SECTION INDICATORS *****/


	/***** SECTION FEEDBACK *****/

	section.feedback .feedback,
	section.feedback .spectrum {
		float: none;
		width: 100%;
	}
	section.feedback .data span.block {
		display: inline;
	}
	section.feedback ul.services li {
		padding: 10px 0;
	}
	.fb .item .input span.prompt {
		top: 55px;
		transform: translateX(0);
	}
	.fb .item .input.text span.prompt {
		top: 20px;
	}
	.fb .item .input span.prompt span.inner::before {
		top: -2px;
		left: 50%;
		margin-left: -6px;
		border-width: 0px 6px 8px;
		border-color: transparent transparent #e7eff3 transparent;
	}

	/***** /SECTION FEEDBACK *****/


	/***** FOOTER *****/

	footer.footer .contacts,
	footer.footer .news,
	footer.footer .nav,
	footer.footer .social {
		width: 50%
	}
	footer.footer .newsWrapper {
		padding-right: 15px;
	}
	footer.footer .nav {
		min-height: auto;
	}
	footer.footer .divide {
		display: block;
	}

	/***** /FOOTER *****/


	/***** SERVICES PAGE *****/

	section.serviceItem article.item h4.title {
		text-align: left;
	}

	section.serviceItem article.item section.description {
		width: calc(100% - 360px);
	}
	section.serviceItem article.item figure.pic {
		width: 360px;
		height: 195px;
	}

	/***** /SERVICES PAGE *****/


	/***** SERVICE DETAIL PAGE *****/

	article.detailService figure.detailService {
		max-width: 400px;
		max-height: 215px;
		margin: 0px 0px 15px 15px;
	}

	article.detailService figure.detailService img {
		max-width: 400px;
		max-height: 215px;
	}
	.container.advatages {
		text-align: center;
	}
	article.advantage {
		float: none;
		display: inline-block;
		width: calc(45% - 30px);
		margin: 30px 25px 0px 0px;
		text-align: left;
		vertical-align: top;
	}
	article.advantage:nth-child(3),
	article.advantage:last-child {
		margin: 30px 0 0px 0px;
	}
	.container.advatages .divide {
		display: block;
		height: 1px;
		overflow: hidden;
	}

	/***** /SERVICE DETAIL PAGE *****/


	/***** GOODS PAGE *****/

	section.goodsWrapper article.unit {
		float: none;
		width: 100%;
		height: 260px;
		margin: 0px 0 30px 0px;
	}
	section.goodsWrapper article.unit section.content {
		padding: 20px 0px 20px 20px;
		font-size: .95em;
	}
	section.goodsWrapper article.unit figure.picture {
		width: 262px;
	}

	/***** /GOODS PAGE *****/


	/***** GOODS DETAIL PAGE *****/

	.substrate {
		display: none;
	}
	.container.delivery .line {
		width: 100%;
	}
	section.conditions {
		padding: 20px 0;
	}
	section.conditions article.conditions,
	section.conditions article.learn {
		float: none;
		width: 100%;
		padding: 30px 20px;
	}
	section.conditions article.learn_ {
		display: none;
	}
	section.conditions article.conditions {
		background: #c4d8e1;
	}
	section.conditions article.learn {

		background: #e7eff2;
	}
	section.conditions article.conditions .inner .context {
		max-height: none;
	}
	section.conditions article.learn .inner {
		padding: 0;
	}
	section.goodsWrapper figure.detailGoods {
		width: 400px;
		height: 215px;
	}

	/***** /GOODS DETAIL PAGE *****/


	/***** NEWS LIST PAGE *****/

	section.rate {
		float: none;
		display: none;
	}
	section.learnMore {
		float: none;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		background: #c4d8e1
	}
	section.learnMore h3 {
		width: 100%;
		margin-bottom: 20px;
	}

	section.learnMore .conditions {
		width: 100%;
	}

	section.learnMore .lm_inner,
	section.learnMore .lm_banner {
		vertical-align: top;
	}

	section.news article.item,
	section.analytics article.item {
		width: calc(50% - 20px);
		margin: 0 16px 40px 0;
	}
	section.news article.item figure.picture,
	section.analytics article.item figure.picture {
		height: 175px;
	}
	section.news article.item .title,
	section.analytics article.item .title {
		text-align: left;
	}

	/***** /NEWS LIST PAGE *****/

	/***** NEWS DETAIL PAGE *****/

	header.detail .title {
		width: calc(100% - 100px);
		text-align: left;
	}
	header.detail .title h3 {
		font-size: 1.8em;
	}
	section.workArea {
		float: none;
		width: 100%;
		min-height: auto;
		margin-left: 0;
	}
	aside.sidebar {
		width: calc(100% - 300px);
		margin: 0 20px 30px 0;
		padding: 20px;
	}
	aside.sidebar .title {
		text-align: left;
	}

	.detail_banner {
		float: none;
		margin: 0 auto 25px;
		clear: both;
	}


	/***** /NEWS DETAIL PAGE *****/


	/***** CLIENTS PAGE *****/

	section.half {
		float: none;
		width: 100%;
		margin-bottom: 10px;
		padding: 20px 10px;
		background: #e7eff2;
	}
	section.half:last-child {
		margin: 0;
		padding: 20px 10px;
		background: #c4d8e1
	}
	section.half h4 {
		margin-bottom: 15px;
	}
	section.half .item {
		margin-bottom: 10px;
	}
	section.samples .unit {
		float: none;
		width: 100%;
		margin: 0;
	}
	section.samples .unit h3 {
		font-size: 1.6em;
	}
	section.samples .unit.orders {
		margin: 0;
	}
	section.samples .unit.samples {
		margin: 0 0 10px 0;
	}
	section.samples .unit ul.sample li,
	section.samples .unit ul.list li {
		font-size: 1em;
	}

	/***** /CLIENTS PAGE *****/


	/***** COMPANY PAGE *****/

	section.common figure.common {
		max-width: 400px;
		max-height: 215px;
		margin: 0px 15px 15px 0;
	}

	.full_image {
		height: 150px;
	}

	/***** /COMPANY PAGE *****/


	/***** TARIFF PAGE *****/

	article.tariff .item {
		display: block;
		text-align: center;
		background: #f1f5f8;
		border-left: 3px solid #c4d8e1;
		border-right: 3px solid #c4d8e1;
	}
	article.tariff .item:nth-child(2) {
		border-top: 3px solid #c4d8e1;
	}
	article.tariff .item:last-child {
		padding-bottom: 20px;
		border-bottom: 3px solid #c4d8e1;
	}
	article.tariff .item .label,
	article.tariff .item .value,
	article.tariff .item .valueHalf,
	article.tariff .item .valueThird {
		display: block;
		width: 100%;
		background: 0;
	}
	article.tariff .item .label {
		margin-bottom: 5px;
		padding: 25px 0 0;
		font-size: 1em;
		text-transform: uppercase;
		font-weight: 600;
	}
	article.tariff .item .value,
	article.tariff .item .valueHalf,
	article.tariff .item .valueThird {
		padding: 0;
		font-size:1em;
		font-weight: normal;
	}
	article.tariff .item .value.darker,
	article.tariff .item .value.dark,
	article.tariff .item .value.light,
	article.tariff .item .value.lighter {
		background: 0;
	}

	article.tariff .unit .value.header,
	article.tariff .unit .valueHalf.header,
	article.tariff .unit .valueThird.header {
		display: block;
		width: 100%;
		margin: 0 0 20px 0;
		padding: 15px 20% 0;
		background: #f1f5f8;
		font-weight: normal;
		border: 3px solid #c4d8e1;
	}
	article.tariff .item .value.header {
		font-weight: normal;
	}
	article.tariff .unit .value.header:last-child,
	article.tariff .unit .valueHalf.header:last-child,
	article.tariff .unit .valueThird.header:last-child {
		margin: 0;
	}
	article.tariff .unit div.ilable {
		display: block;
	}
	article.tariff .unit div.ilable:first-child {
		margin-bottom: 5px;
		padding: 10px 0 0;
	}
	article.tariff .unit div.ilable span.ivalue {
		margin-top: 5px;
	}
	article.tariff .unit .label,
	article.tariff .unit .value,
	article.tariff .unit .valueHalf,
	article.tariff .unit .valueThird {
		display: none;
	}
	article.tariff .item .value.darker,
	article.tariff .unit.darker {
		background: 0;
	}

	/***** /TARIFF PAGE *****/


	/***** 404 PAGE *****/

	section.fail section.content {
		float: none;
		width: 100%;
	}
	section.fail figure.pic {
		float: none;
		display: none;
	}
	section.fail h1 {
		font-size: 4em;
		margin-bottom: 15px;
	}
	section.fail h3 {
		font-size: 1.8em;
	}

	/***** /404 PAGE *****/


	/***** MEDIA PAGE *****/

	article.mediaUnit {
		float: none;
		width: 100%;
		margin: 0 0 20px 0;
	}

	/***** /MEDIA PAGE *****/


	/***** CONTACTS PAGE *****/

	.contactsWrapper .item {
		float: none;
		vertical-align: top;
	}
	.contactsWrapper .item:first-child,
	.contactsWrapper .item:nth-child(2) {
		margin-right: 20px;
	}
	.contactsWrapper .item:last-child {
		width: 100%;
		max-width: 100%;
		margin-top: 40px;
		text-align: center;
		clear: both;
	}
	section.map {
		height: 400px;
	}
	.full_image .motto {
		width: 320px;
		padding: 25px 0 0 30px;
		font-size: 2em;
	}
	.full_image .motto::before {
		width: 8px;
		height: 65px;
	}

	/***** /CONTACTS PAGE *****/

    .regional_offices_wrp .office:nth-of-type(even) {
        margin-right: 0;
    }


	/*** subscription to the price list ***/

	.mm_pricelist_subscription {
		padding: 40px 10px;
		background: #c4d8e1;
	}
    .mm_pricelist_subscription__section._contacts {
        padding-left: 40px;
    }
    .mm_pricelist_subscription__section._pricelist {
        padding-left: 30px;
    }


	/*** vote ***/

	.mm_vote_section_item {
		width: calc(33.33% - 20px);
	}


} /*@media and (max-width:991px)*/

@media all and (max-width:767px) {

	/***** SECTION BANNER *****/

	section.whatIs {
		width: 85%;
	}

	/***** /SECTION BANNER *****/

	/***** /SECTION ABOUT *****/

	section.about .featuresWrapper {
		padding: 40px 10px 0px;
	}
	section.about .featuresWrapper section.inner {
		padding: 2px 25px 0px 0px;
	}
	section.about a.launcher {
		right: 25px;
	}
	section.about .context {
		height: auto;
	}

	/***** /SECTION ABOUT *****/


	/***** SECTION SERVICES *****/

	.ui-tabs-vertical .ui-tabs-nav li {
		height: auto;
	}
	.ui-tabs-vertical .ui-tabs-nav li a {
		height: auto;
		padding: 5px 10px;
		font-size: .85em;
		line-height: 20px;
	}
	.ui-tabs-vertical .ui-tabs-nav li a span.iblock {
		width: calc(100% - 42px);
		vertical-align: middle;
	}

	/***** /SECTION SERVICES *****/


	/***** SECTION STOCK RATES *****/

	.stockUnit {
		max-width: 100%;
	}

	/***** /SECTION STOCK RATES *****/


	/***** SECTION DEAL WITH US *****/

	section.dealWithUs .itemsWrapper .oneFourth {
		width: 50%;
	}
	section.dealWithUs .itemsWrapper .oneFourth:first-child,
	section.dealWithUs .itemsWrapper .oneFourth:nth-child(2) {
		margin-bottom: 15px;
	}
	section.dealWithUs .oneFourth::after {
		right: -5px;
	}

	/***** /SECTION DEAL WITH US *****/
	
	/***** SECTION INDICATORS *****/
	
	section.indicators .value span.prefix {
		left: 50px;
	}
	
	/***** /SECTION /INDICATORS *****/

	/***** SECTION TESTIMONIALS *****/

	.testimonials {
		width: 90%;
		margin: 0 auto;
		padding: 20px 0 0 0;
	}
	.testimonials .item {
		width: 80%;
		margin: 0 auto;
		padding: 0;
	}
	.testimonials .owl-controls .owl-nav .owl-prev {
		left: -20px;
	}
	.testimonials .owl-controls .owl-nav .owl-next {
		right: -25px;
	}

	/***** /SECTION TESTIMONIALS *****/


	/***** FOOTER *****/

	footer.footer .contacts,
	footer.footer .news {
		float: none;
		width: 100%
	}
	footer.footer .nav,
	footer.footer .social {
		width: 50%;
	}
	footer.footer .newsWrapper {
		padding-right: 15px;
	}
	footer.footer .nav {
		min-height: auto;
	}
	nav.footer ul {
		padding: 0;
	}
	footer.footer .divide {
		display: block;
	}

	/***** /FOOTER *****/

	/***** SERVICES PAGE *****/

	section.serviceItem article.item section.description,
	section.serviceItem article.item figure.pic {
		float: none;
		width: 100%;
	}
	section.serviceItem article.item section.description,
	section.serviceItem:nth-child(2n) article.item section.description {
		padding: 0;
	}
	section.serviceItem article.item figure.pic {
		height: auto;
	}
	#ourServices {
		position: relative;
		left: auto;
		top: auto;
		width: 100%;
		text-align: right;
	}
	#ourServices .ctrls {
		float: none;
		margin: 0;
	}
	/*.s_units {
		padding-top: 20px;
	}*/

	section.serviceItem article.item section.description a.btn,
	section.serviceItem article.item section.description a.more {
		margin: 10px 0 20px;
	}

	/***** /SERVICES PAGE *****/

	/***** SERVICE DETAIL PAGE *****/

	article.detailService figure.detailService {
		max-width: 300px;
		max-height: 162px;
		margin: 0px 0px 10px 10px;
	}
	article.detailService figure.detailService img {
		max-width: 300px;
		max-height: 162px;
	}
	article.advantage {
		float: none;
		display: inline-block;
		width: calc(50% - 25px);
		margin: 30px 20px 0px 0px;
		text-align: left;
		vertical-align: top;
	}

	/***** /SERVICE DETAIL PAGE *****/

	/***** GOODS PAGE *****/

	section.goodsWrapper article.unit {
		margin: 0px 0 20px 0px;
	}

	/***** /GOODS PAGE *****/


	/***** GOODS DETAIL PAGE *****/

	section.goodsWrapper figure.detailGoods {
		max-width: 300px;
		max-height: 162px;
		margin: 0px 0px 10px 10px;
	}

	/***** /GOODS DETAIL PAGE *****/


	/***** NEWS LIST PAGE *****/

	section.news {
		padding: 20px 0;
	}
	section.news article.item,
	section.analytics article.item {
		width: calc(50% - 20px);
		margin: 0 16px 40px 0;
	}
	section.news article.item figure.picture,
	section.analytics article.item figure.picture {
		height: 135px;
	}


	/***** /NEWS LIST PAGE *****/


	/***** NEWS DETAIL PAGE *****/

	header.detail .date {
		float: none;
		margin: 0 0 15px 0;
	}
	header.detail .title {
		float: none;
		width: 100%;
		padding: 0;
	}
	header.detail .title h3 {
		font-size: 1.6em;
		line-height: 32px;
	}
	aside.sidebar {
		float: none;
		width: 100%;
		margin: 0;
		padding: 20px;
	}
	aside.sidebar .title {
		text-align: left;
	}
	section.workArea iframe {
		width: 100%;
	}
	aside.subscription {
		float: none;
		width: 100%;
		text-align: center;
	}
	aside.subscription .conditions {
		display: inline-block;
		margin: 0 0 0 30px;
		vertical-align: middle;
	}

	section.popup .unit .value span.oOps {
		transform: translateX(50%);
	}

	/***** /NEWS DETAIL PAGE *****/


	/***** COMPANY PAGE *****/

	section.common figure.common {
		max-width: 300px;
		max-height: 162px;
	}
	section.staff article.unit {
		margin-bottom: 20px;
	}
	section.staff section.details h4 {
		text-align: center;
	}
	section.staff figure.photo {
		float: none;
		margin: 0 auto 20px;
	}
	section.staff section.details {
		float: none;
		width: 100%;
	}
	.full_image {
		height: 180px;
		background-position: left center;
	}
	.full_image .motto {
		display: none;
	}


	/***** /COMPANY PAGE *****/


	/***** 404 PAGE *****/

	section.fail h1 {
		font-size: 4em;
		margin-bottom: 15px;
	}
	section.fail h3 {
		font-size: 1.8em;
	}

	/***** /404 PAGE *****/

	/***** CONTACTS PAGE *****/

	.contactsWrapper {
		padding: 0;
	}
	.contactsWrapper .item {
		width: 100%;
	}
	.contactsWrapper .item:first-child,
	.contactsWrapper .item:nth-child(2) {
		margin: 0 0 30px;
	}
	.contactsWrapper .item:last-child {
		margin-top: 10px;
		text-align: left;
	}
	section.map {
		height: 300px;
	}

	/***** /CONTACTS PAGE *****/

	/***** CLIENTS PAGE *****/

	#request {
		max-width: 500px;
		padding: 20px 30px;
	}
	#request .unit span.prompt {
		right: 30px
	}

	/***** /CLIENTS PAGE *****/

    .regional_offices_wrp .office {
        margin-right: 55px;
    }

	/*** location ***/

	.mm_location {
		position: static;
		top: auto;
		right: auto;
		max-width: 100%;
		margin-top: 25px;
	}

	/*** modal ***/

	.mm_modal._region {
		max-width: 95%;
		padding: 20px 20px;
	}
	.mm_regions_list {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}


    /*** subscription to the price list ***/

    .mm_pricelist_subscription {
        display: block;
        padding: 30px 20px;
        text-align: center;
    }
    .mm_pricelist_subscription__section {
        display: block;
        width: 100%;
    }
    .mm_pricelist_subscription__heading {
        margin-bottom: 15px;
    }
    .mm_pricelist_subscription__section._contacts,
    .mm_pricelist_subscription__section._pricelist {
        padding-left:0;
    }
    .mm_pricelist_subscription__section._pricelist {
        margin-top: 50px;
    }
    .mm_pricelist_subscription__conditions {
        margin-left: auto;
        margin-right: auto;
    }

	/*** vote ***/

	.mm_vote_section__list {
		margin-left: -5px;
		margin-right: -5px;
	}
	.mm_vote_section_item {
		width: calc(33.33% - 10px);
		height: 130px;
		margin: 0 5px 10px;
	}



} /*@media and (max-width:767px)*/

@media all and (max-width:599px) {

	/***** SECTION BANNER *****/

	section.whatIs {
		width: 100%;
	}
		section.bannerContent h2 {
	    font-size: 2.2em;
	    line-height: 35px;
	}

	/***** /SECTION BANNER *****/

	/***** /SECTION ABOUT *****/

	section.about .featuresWrapper .oneFourth {
		width: 100%;
		margin-bottom: 20px;
	}
	section.about .featuresWrapper .oneFourth:last-child {
		margin-bottom: 0;
	}
	section.about .divide {
		display: none;
	}
	section.about .featuresWrapper {
		padding: 40px 10px 0px;
	}
	section.about .featuresWrapper section.inner {
		padding: 2px 25px 0px 0px;
	}

	section.about a.launcher {
		right: 25px;
	}

	/***** /SECTION ABOUT *****/

	/***** SECTION SERVICES *****/

	.ui-tabs-vertical .ui-tabs-nav {
		width: 55px;
		overflow: hidden;
	}
	.ui-tabs-vertical .ui-tabs-nav li {
		height: auto;
	}
	.ui-tabs-vertical .ui-tabs-nav li a {
		width: 100%;
		height: 45px;
		padding: 5px;
		font-size: .85em;
		text-align: center;
		line-height: 20px;
		overflow: hidden;
	}
	.ui-tabs-vertical .ui-tabs-nav li a span.ico {
		margin: 0;
	}
	.ui-tabs-vertical .ui-tabs-nav li a span.iblock {
		display: none;
	}
	.ui-tabs-vertical .ui-tabs-nav li:hover::before,
	.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active::before {
		left: 0;
	}
	.ui-tabs-vertical .ui-tabs-panel {
		width: calc(100% - 55px);
		min-height: 300px;
	}

	/***** /SECTION SERVICES *****/

	/***** SECTION DEAL WITH US *****/

	section.dealWithUs .itemsWrapper .oneFourth {
		width: 50%;
		padding-left: 20px;
		text-align: left;
	}
	section.dealWithUs .itemsWrapper .oneFourth:first-child,
	section.dealWithUs .itemsWrapper .oneFourth:nth-child(2) {
		margin-bottom: 15px;
	}
	section.dealWithUs .oneFourth::after {
		right: 5px;
	}
	section.dealWithUs section.inner {
		width: 165px;
		height: 230px
	}
	section.dealWithUs section.inner .context {
		padding: 15px;
		font-size: 1em;
		line-height: 18px;
	}
	section.dealWithUs section.inner.faq {
	    background-position: 44px -870px;
	}
	section.dealWithUs section.inner.call {
	    background-position: -320px -870px;
	}
	section.dealWithUs section.inner.supply {
	    background-position: -659px -870px;
	}
	section.dealWithUs .oneFourth:last-child section.inner.control {
	    background-position: -1029px -870px;
	}

	/***** /SECTION DEAL WITH US *****/

	/***** /SECTION INDICATORS *****/

	section.indicators .itemsWrapper {
		text-align: center;
	}

	section.indicators .item:first-child,
	section.indicators .item:nth-child(2),
	section.indicators .item:nth-child(3),
	section.indicators .item:last-child {
		width: 100%;
		margin-bottom: 40px;
	}
	section.indicators .item:last-child {
		margin-bottom: 0;
	}
	
	section.indicators .value span.prefix {
		left: 110px;
	}

	/***** /SECTION INDICATORS *****/



	/***** SECTION FEEDBACK *****/

	.fb form {
		padding: 0 0 30px;
	}

	/***** /SECTION FEEDBACK *****/


	/***** SERVICES PAGE *****/

	.breadcrumbs {
		display: none;
	}

	/***** /SERVICES PAGE *****/

	/***** SERVICE DETAIL PAGE *****/

	.appWrapper {
		text-align: right;
	}

	article.detailService figure.detailService {
		margin: 0px 0px 10px 10px;
	}
	article.detailService figure.detailService img {
		max-width: 230px;
		max-height: 125px;
	}
	article.advantage {
		float: none;
		display: block;
		width: 100%;
		margin: 30px 0 0px 0px;
		text-align: left;
	}
	.container.advatages h2 {
		font-size: 1.9em;
	}
	.container.advatages .divide {
		display: none;
	}

	/***** /SERVICE DETAIL PAGE *****/

	/***** GOODS PAGE *****/

	section.goodsWrapper article.unit {
		float: none;
		width: 100%;
		height: 260px;
		margin: 0 0 15px 0;
	}
	section.goodsWrapper article.unit section.content {
		width: calc(100% - 200px);
		padding: 20px 0px 20px 20px;
		font-size: .90em;
		line-height: 19px;
	}
	section.goodsWrapper article.unit figure.picture {
		width: 200px;
		overflow: hidden;
	}
	section.goodsWrapper article.unit figure.picture img {
		width: auto;
		height: 100%;
	}

	/***** /GOODS PAGE *****/

	/***** GOODS DETAIL PAGE *****/

	.container.delivery {
		margin: 10px 0;
	}
	section.goodsWrapper figure.detailGoods {
		max-width: 230px;
		max-height: 125px;
	}

	/***** /GOODS DETAIL PAGE *****/

	/***** NEWS LIST PAGE *****/

	section.learnMore h3 {
		font-size: 1.8em;
	}
	section.news article.item,
	section.analytics article.item {
		width: calc(50% - 10px);
		margin: 0 6px 20px 0;
	}
	section.news article.item figure.picture,
	section.analytics article.item figure.picture {
		height: auto;
		max-height: 135px;
		min-height: 110px;
	}

	/***** /NEWS LIST PAGE *****/


	/***** NEWS DETAIL PAGE *****/

	section.popup .unit .value span.oOps {
		transform: translateX(55px);
	}

	/***** /NEWS DETAIL PAGE *****/

	/***** COMPANY PAGE *****/

	section.common figure.common {
		max-width: 230px;
		max-height: 125px;
	}
	section.staff {
		padding: 15px 0;
	}
	.full_image {
		height: 150px;
	}

	#terms {
		width: 100%;
		height: 100%;
		max-height: none;
		padding: 20px;
	}
	section.terms_popup {
		max-height: 410px;
	}

	/***** /COMPANY PAGE *****/


	/***** 404 PAGE *****/

	section.fail {
		text-align: center;
	}
	section.fail h1 {
		font-size: 4em;
		margin-bottom: 15px;
	}
	section.fail h3 {
		font-size: 1.8em;
	}

	/***** /404 PAGE *****/

	/***** MEDIA PAGE *****/

	article.mediaUnit section.preview .text {
		line-height: 18px;
	}

	/***** /MEDIA PAGE *****/

	/***** CLIENTS PAGE *****/

	#request {
		max-width: 95%;
		padding: 20px 30px;
	}
	#request .unit span.prompt {
		top: 55px;
		right: 0;
		transform: translateX(0);
	}
	#request .unit span.prompt span.inner::before {
	    top: -2px;
	    left: 50%;
	    margin-left: -6px;
	    border-width: 0px 6px 8px;
	    border-color: transparent transparent #E7EFF3;
	}

	/***** /CLIENTS PAGE *****/

    .regional_offices_wrp .office {
        display: block;
        width: 100%;
        margin-right: 0;
    }


    /*** prices table ***/

    .mm_prices_table {
        padding-left: 150px;
    }
    .mm_prices_table__column._type {
        width: 150px;
    }
    .mm_prices_table__column._type .mm_prices_table__cell {
        font-size: 14px;
    }
    .mm_prices_table__column._values .mm_prices_table__unit {
        min-width: 150px;
    }
    .mm_prices_table__cell {
        font-size: 14px;
        padding: 0 5px;
    }


	/*** vote ***/

	.mm_vote_section__heading {
		font-size: 1.75em;
	}
	.mm_vote_section_item {
		width: calc(50% - 10px);
		height: 160px;
	}



} /*@media and (max-width:599px)*/

@media all and (max-width:480px) {

	/***** HEADER *****/

	header.header .logotype {
		padding: 13px 0px 0px;
	}
	header.header .logotype img.pc {
		display: none;
	}
	header.header .logotype img.mobile {
		display: block;
	}
	header.header .logotype a.unniversary {
		display: none;
	}

	/***** /HEADER *****/

	/***** SECTION BANNER *****/

	section.banner {
		height: 460px;
		padding-top: 70px;
	}
	section.bannerContent {
		padding: 20px 0;
	}
	section.bannerContent h2 {
	    font-size: 2.2em;
	    line-height: 35px;
	}
	section.bannerContent .delivery {
		font-size: 1.3em;
	}
	section.bannerContent .delivery .item,
	section.bannerContent .delivery .more  {
		display: none;
	}

	section.whatIs {
		right: -25%;
		width: 100%;
		padding: 20px 15px;
	}
	section.whatIs {
		transform: skew(-15deg,0) translateX(80%);

		transition: all .3s ease-in-out;
	}
	section.whatIs:hover {
		cursor: pointer;
	}
	section.whatIs.visible {
		right: 0;
		background: rgba(20, 27, 33, 0.9);
		transform: skew(0,0) translateX(0);

		transition: all .3s ease-in-out;
	}
	article.inner {
		width: 90%;
		margin: 0 auto;
		padding: 0;
		transform: skew(0,0)
	}
	section.features .item {
		padding: 10px 0px 10px 50px;
	}
	section.whatIs a.button {
		font-size: 1.1em;
	}

	/***** /SECTION BANNER *****/

	/***** SECTION ABOUT *****/

	section.about {
		padding: 30px 0;
	}
	section.about .context {
		height: auto;
	}

	/***** /SECTION ABOUT *****/

	/***** SECTION SERVICES *****/

	section.services {
		padding: 30px 0;
	}
	section.services h2 {
		font-size: 1.8em;
	}
	.ui-tabs-vertical .ui-tabs-panel {
		padding: 10px;
	}
	.ui-tabs-vertical .ui-tabs-panel h4 {
		font-size: 1.4em;
	}

	/***** /SECTION SERVICES *****/

	/***** SECTION STOCK RATES *****/

	section.stockRates h2 {
		font-size: 1.8em;
	}
	.title {
		padding-left: 0;
	}
	section.stockRates h2 span.block {
		display: inline;
	}
	section.stockRates h2.border::before {
		display: none;
	}

	.rates {
		display: none;
	}

	/***** /SECTION STOCK RATES *****/

	/***** SECTION DEAL WITH US *****/

	section.dealWithUs h2 {
		font-size: 1.8em;
	}
	section.dealWithUs section.item {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	section.dealWithUs section.item .inner {
		padding: 20px;
	}
	section.dealWithUs section.item .inner::before {
		right: -40px;
	}
	section.dealWithUs section.item span.ico {
		float: none;
	}
	section.dealWithUs section.item .context {
		float: none;
		width: 100%;
		height: 100%;
		margin-top: 10px;
		padding-left: 20px;
		vertical-align: top;
	}
	section.dealWithUs section.item .context span.cell {
		height: 100%;
	}

	/***** /SECTION DEAL WITH US *****/

	/***** /SECTION INDICATORS *****/

	section.indicators .value span.prefix {
		left: 80px;
	}

	/***** /SECTION INDICATORS *****/

	/***** SECTION TESTIMONIALS *****/

	.testimonials .item .pic {
		background-position: 125px -1918px;
	}
	.testimonials .item .context.full {
		max-height: 705px;
	}

	/***** /SECTION TESTIMONIALS *****/


	/***** SECTION FEEDBACK *****/

	section.feedback {
		padding: 30px 0;
	}
	.fb {
		padding: 0;
	}
	.fb .item {
		margin-bottom: 10px;
	}
	section.feedback .spectrum {
		padding-left: 0;
	}
	section.feedback .data h2.border::before {
		display: none;
	}
	section.feedback ul.services li span.iblock {
		width: calc(100% - 50px);
		vertical-align: middle;
	}


	/***** /SECTION FEEDBACK *****/


	/***** FOOTER *****/

	footer.footer .contacts,
	footer.footer .news {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #334652;
	}
	footer.footer .nav {
		display: none;
	}
	footer.footer .social {
		width:100%;
	}
	footer.footer .logo {
		margin: 20px 0;
	}
	footer.footer .divide {
		display: none;
	}

	/***** /FOOTER *****/

	/***** SERVICES PAGE *****/

	.breadcrumbs {
		display: none;
	}

	#ourServices {
		text-align: left;
	}
	#ourServices .ctrls {
		float: none;
		width: 100%;
		margin: 0 auto 10px;
	}
	#ourServices .triggers > li:first-child {
		padding-left: 0;
	}
	section.serviceItem article.item h4.title {
		font-size: 1.3em;
		line-height: 29px;
	}
	section.serviceItem article.item h4.title.service {
	    background-position: -23px -387px;
	}
	section.serviceItem article.item h4.title.logistic {
	    background-position: -23px -459px;
	}
	section.serviceItem article.item h4.title.profile {
	    background-position: -23px -523px;
	}
	section.serviceItem article.item h4.title.analytics {
	    background-position: -23px -666px;
	}
	section.serviceItem article.item h4.title.access {
	    background-position: -13px -736px;
	}

	/***** /SERVICES PAGE *****/


	/***** SERVICE DETAIL PAGE *****/

	.appWrapper {
		position: static;
		text-align: left;
	}
	article.detailService {
		padding-top: 25px;
	}

	article.detailService figure.detailService,
	article.detailService figure.detailService img {
		float: none;
		width: 100%;
		max-width: none;
		max-height: none;
	}
	article.detailService figure.detailService {
		margin: 0 0 10px 0;
	}
	article.detailService figure.detailService img {
		margin: 0;
	}
	article.advantage {
		float: none;
		display: block;
		width: 100%;
		margin: 30px 0 0px 0px;
		text-align: left;
	}
	.container.advatages h2 {
		font-size: 1.7em;
	}
	main.workArea blockquote.border,
	section.common blockquote.border,
	article.detailService  section.detailText blockquote.border,
	main.workArea blockquote.boxed,
	section.common blockquote.boxed,
	article.detailService  section.detailText blockquote.boxed {
		margin: 20px 0;
	}
	main.workArea blockquote.border,
	section.common blockquote.border,
	article.detailService  section.detailText blockquote.border {
		padding: 5px 0px 5px 20px;
		font-weight: 300;
	}

	/***** /SERVICE DETAIL PAGE *****/


	/***** GOODS PAGE *****/

	section.goodsWrapper article.unit section.content {
		width: calc(100% - 100px);
	}
	section.goodsWrapper article.unit figure.picture {
		width: 100px;
	}

	/***** /GOODS PAGE *****/

	/***** GOODS DETAIL PAGE *****/

	section.goodsWrapper {
		padding-top: 25px;
	}
	section.goodsWrapper figure.detailGoods {
		float: none;
		width: auto;
		height: auto;
		max-width: none;
		max-height: none;
		margin: 0 0 10px 0;
	}
	section.conditions article.conditions,
	section.conditions article.learn {
		padding: 20px;
	}
	section.conditions article.conditions .inner .context {
		font-size: 1em;
	}
	section.conditions article.learn .inner .context {
		float: none;
		width: 100%;
		font-size: 1em;
	}
	section.conditions article.learn .inner figure.img {
		float: none;
		display: none;
	}

	/***** /GOODS DETAIL PAGE *****/

	/***** NEWS LIST PAGE *****/

	section.news article.item,
	section.analytics article.item {
		width: 100%;
		margin: 0 0 20px 0;
	}
	section.news article.item figure.picture,
	section.analytics article.item figure.picture {
		height: auto;
		max-height: 215px;
		min-height: 150px;
	}
	section.workArea iframe {
		height: auto;
		max-height: 325px;
		min-height: 245px;
	}

	section.learnMore .lm_inner {
		width: 100%;
	}
	section.learnMore .lm_banner {
		display: none;
	}

	/* popup */

	#subscribe {
		padding: 20px 20px;
	}
	section.popup .unit .label,
	section.popup .unit .value {
		float: none;
		width: 100%;
	}
	section.popup .unit .label {
		height: 25px;
	}
	section.popup .unit span.prompt {
		width: 100%;
	}

	/* /popup */

	/***** /NEWS LIST PAGE *****/

	/***** NEWS DETAIL PAGE *****/

	aside.subscription .conditions {
		display: block;
		margin: 10px auto 0;
	}

	section.popup .unit .value span.oOps {
		transform: translateX(15px);
	}


	section.terms_popup {
		max-height: calc(100% - 105px);
	}

	/***** /NEWS DETAIL PAGE *****/

	/***** CLIENTS PAGE *****/

	section.half .item span.prompt.ml15 {
		margin: 0;
	}
	section.samples .unit {
		padding: 10px 10px 20px;
	}

	#request {
		max-width: 95%;
		padding: 10px 15px;
	}

	/***** /CLIENTS PAGE *****/

	/***** COMPANY PAGE *****/

	section.common {
		padding-top: 0;
	}
	section.common figure.common {
		max-width: none;
		max-height: none;
		margin: 0px 0px 10px;
	}
	.full_image {
		height: 115px;
	}

	/***** /COMPANY PAGE *****/


	/***** TARIFF PAGE *****/

	article.tariff:nth-child(2) {
		margin-top: 40px;
	}
	article.tariff .unit .value.header,
	article.tariff .unit .valueHalf.header,
	article.tariff .unit .valueThird.header {
		padding: 15px 15px 0px;
	}

	/***** /TARIFF PAGE *****/


	/***** CONTACTS PAGE *****/

	.contactsWrapper {
		margin-bottom: 0;
	}
	.contactsWrapper p {
		font-size: 1.1em;
	}
	.contactsWrapper .item {
		width: 100%;
	}
	.contactsWrapper .item:first-child,
	.contactsWrapper .item:nth-child(2) {
		margin: 0 0 25px;
	}
	.contactsWrapper .item .phone {
		margin-bottom: 15px;
	}
	.contactsWrapper .item .phone a {
		font-size: 1.7em;
	}
	.contactsWrapper .item .email a {
		font-size: 1.4em;
	}
	section.map {
		margin-top: 20px;
	}

	/***** /CONTACTS PAGE *****/

	/***** MEDIA PAGE *****/

	article.mediaUnit figure.pic {
		float: none;
		width: 100%;
		height: auto;
		margin-bottom: 15px;
		overflow: hidden;
	}
	article.mediaUnit figure.pic img {
		display: inline-block;
		width: auto;
		max-width: 100%;
	}
	article.mediaUnit section.preview {
		float: none;
		width: 100%;
		padding-left: 0;
	}

	/***** /MEDIA PAGE *****/

    .regional_offices_wrp {
        margin-top: 50px;
    }

	/*** location ***/

	.mm_location {
		display: block;
        margin-bottom: 30px;
	}
	.mm_location__cell {
		display: block;
	}
	.mm_location__cell._label {
		width: 100%;
		margin-bottom: 5px;
	}
	.mm_location__cell._value {
		padding-left: 0;
	}

	/*** modal ***/

	.mm_modal._region {
		padding: 20px 5px 20px 10px;
	}
	.mm_regions_list {
		max-height: 280px;
		overflow: auto;
        -webkit-column-count: initial;
        -moz-column-count: initial;
        column-count: initial;
	}


	/*** vote ***/

	.mm_vote_section__heading {
		font-size: 1.55em;
	}
	.mm_vote_section_item {
		height: 130px;
	}


} /*@media and (max-width:480px)*/

@media all and (max-width: 359px) {

	/*** vote ***/

	.mm_vote_section__heading {
		font-size: 1.45em;
	}
	.mm_vote_section__list {
		margin-left: 0;
		margin-right: 0;
	}
	.mm_vote_section_item {
		width: 100%;
		height: 190px;
		margin: 0 0 15px;
	}

}

@media all and (max-width:320px) {

	/***** CONTACTS PAGE *****/

	.contactsWrapper {
		padding-left: 0;
		border: 0;
	}
	.contactsWrapper .item:first-child {
		padding-left: 10px;
	}
	.contactsWrapper p {
		font-size: 1em;
	}

	/***** /CONTACTS PAGE *****/

	/***** NEWS DETAIL PAGE *****/

	.stockIndicators .wrp .row .label,
	.stockIndicators .wrp .row .value {
		font-size: .9em;
	}

	/***** /NEWS DETAIL PAGE *****/

	/***** /SECTION INDICATORS *****/

	section.indicators .value span.prefix {
		left: 70px;
	}

	/***** /SECTION INDICATORS *****/


} /*@media all and (max-width:320px)*/






/*====================================
	RESPONSIVE CSS
	-------------------
	Developed by Maiorov Maksim
	m.maiorov@gmail.com / mm@fdev.name
	2014 | Kaliningrad, Russia

=====================================*/