.menu-collapser {
    position: relative;
    background:#fff;
    color: #a6abaf;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    width: 100%;
    height: 60px;
    padding: 0;
}
.collapse-button {
    position: absolute;
    right: 2%;
    top: 50%;
    width: 60px;
    height: 44px;
    color: #a6abaf;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transform: translate(0, -50%);
    box-sizing: border-box;
}
.collapse-button:hover, .collapse-button:focus {
    color: #a6abaf;
}
.collapse-button .icon-bar {
    background-color: #781e32;
    display: block;
    height: 5px;
    width: 100%;
    margin: 2px 0;
}
.collapse-button .icon-bar:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.collapse-button .icon-bar:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

ul.topNav {
    display:block;
    width: auto;
    height: 60px;
    padding: 0 30px 0 0;
    list-style: none;
    text-align: right;
}
ul.topNav li {
    /*position: relative;*/
    display: inline-block;
    width: auto;
    height: 100%;
    vertical-align: top;
}
ul.topNav li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    font-family: 'PT Sans', sans-serif;
    color: #1a2225;
    font-size: .9em;
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
    line-height: 60px;
}
ul.topNav li a.selected,
ul.topNav li a:hover {
    color: #781e32;
    text-decoration: none;
}

ul.topNav li .sub-collapser {
    display: none;
    position: absolute;
    right: 5px;
    top: 0;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    text-align: right;
    z-index: 999;
    cursor: pointer;
    /*border: 1px solid #781e32;
    border-radius: 3px;*/
}
ul.topNav.collapsed li .sub-collapser {
    display: block;
}
ul.topNav li .sub-collapser::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
ul.topNav li .sub-collapser > i {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 100%;
    color: #781e32;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    border: 1px solid #781e32;
    border-radius: 3px;
}
ul.topNav.collapsed {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0;
    z-index: 100;
    border-top: 1px solid #f5f5f5;
}

ul.topNav.collapsed > li {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #f5f5f5;
}
ul.topNav.collapsed > li a {
    display: block;
    width: 100%;
    height: auto;
    padding: 7px 0 7px 20px;
    font-size: 1.1em;
    text-align: left;
    line-height: 26px;
}
ul.topNav.collapsed > li .sub-collapser {
    height: 40px;
}
ul.topNav.collapsed > li a:hover {
    box-shadow:none;
}
ul.topNav > li ul.nd {
    display: none;
    position: absolute;
    top: 100%;
    left: auto;
    width: auto;
    height: auto!important;
    margin: 10px 0 0 -60px;
    padding: 0 0 15px 0;
    background: #a3c2d0;
    text-align: left;
}
ul.topNav > li a:hover ul.nd {
    display: inline-block;
}
ul.topNav > li ul.nd li {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0;
}
ul.topNav > li ul.nd li a {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 20px;
    text-align: left;
    line-height: 30px;
}
ul.topNav.collapsed > li ul.nd {
    position: relative;
    background: #fff;
    margin: 0;
    padding: 0 0 0 20px;
}
ul.topNav.collapsed > li ul.nd li {
    display: block;
}
ul.topNav.collapsed > li ul.nd li a {
    font-size: 1em;
}