.tabs {
    display: none;
    visibility: hidden;
}

/*  Display tab navigation if javascript enabled.
 *  This requires on the included js-accessibility.js script. */
.js .tabs {
    display: block;
    visibility: visible;
}

/*  Force browser to show a pointer on tab navigation. */
.tabs a, .tabs button {
    cursor: pointer;
}

.tabs-content {
    width: 100%;
    position: relative;
}

/*  Hide tab content if javascript is enabled. */
.tabs-pane {
    /*display: none;
    visibility: hidden;*/
    height: 0;
    visibility: hidden;
    overflow: hidden;
}


/*  Show tab content when active class is added.
 *  This class is added via javascript. */
.tabs-pane.active {
    /*display: block;
    visibility: visible;*/
    height: auto;
    visibility: visible;
}

/*  Fancy list styling for tab navigation.
 *  Adjust to fit your design. */
.triggers {
    list-style: none;
    margin-left: 0;
}

/*  Display tab navigation as inline list. */
.triggers > li {
    display: inline-block;
    float: none;
    height: 30px;
    padding: 0 10px;
}

/*  Set tab navigation link color.
 *  Adjust to fit your design. */
.triggers a {
    height: 100%;
    color: #314d58;
    font-family: 'yanusc-r';
    font-size: 1.2em;
    text-align: center;
    line-height: 34px;
    font-weight: 600;
    border-bottom: 1px dotted #314d58;
    transition: all .2s ease-in-out;
}

/*  On hover and when active, change tab navigation color */
.triggers a:hover,
.triggers > .active > a {
    color: #781e32;
    border-bottom: 0;
    transition: all .2s ease-in-out;
}

/* Clearfix */
.tabs::before, .tabs::after {
    display: table;
    content: "";
    zoom: 1;
}

.tabs::after {
    clear: both;
}
