iframe.waitwindowlocal {position:absolute; border:0px; z-index:9999;}
div.waitwindowlocal {position:absolute; border:0px; background: none; color: red;}
div.waitwindowlocalshadow {position:absolute;  background:#000000; border:0px;}
